/* offline font conectvity */

/* poppins-100 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v20-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-100.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-100italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/poppins-v20-latin-100italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-100italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-100italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-100italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-100italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-100italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-200.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-200italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-200italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-200italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-200italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-200italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-200italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-300.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-300italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-300italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-500italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-600italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-600italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-600italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-600italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-600italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-600italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-700italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-800italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-800italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-800italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-800italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-800italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-800italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-900italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v20-latin-900italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-900italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-900italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-900italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-900italic.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* ========================================== Default CSS ================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    /* background-color: var(--black-color); */
    background-color: #212428!important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif !important;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 12px;
}

ul,
li,
ol {
    list-style: none!important;
}

a {
    text-decoration: none!important;
}

.pt-112 {
    padding-top: 60PX;
}

.ptb-112 {
    padding: 60px 0;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #fff;
    --p-teg-color: #999999;
    --yellow-button-color: #ffbd39;
    --white:white;
    --grey--:#666666;
	--grey-1--:#e1e1e1;
    --grey-11--:#f9f9f9;
    --blue--:#00aeff;
    --blue1--:#0505A9;
    --white--:#ffffff;
	--black--:#000000;
  --blue2--:#157EFB;
}
.text-yellow{
    color: #00aeff!important;
}
.bg-yellow{
    background-color: #00aeff!important;
}

html {
    scroll-behavior: smooth;
}
.heding_text h1{
    font-size: 7vw;
    left: 50%;
    transform: translatex(-50%);
    z-index: -1;
    color: rgba(255, 255, 255, 0.075);
    font-weight: 900;
}

/* ========================================== header section CSS ================================= */
.navbar{
    z-index: 9999!important;
}
.navbar-nav .nav-item .nav-link{
    padding: 20px 20px!important;
    display: block;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover{
    color: #00aeff!important;

}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav .nav-item span::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 20px;
    left: 10%;
    background: #00aeff;
    transform: scaleX(0);
    transition-timing-function: ease-out;
    transition-duration: 0.7s;
    transform-origin: top;
}

.navbar-nav .nav-item span:hover::before {
    transform: scalex(1);
    transition-duration: 0.7s;
}
.navbar-toggler{
    background-color: var(--white-color)!important;
}


.sticky{
    position: fixed !important;
    top: 0;
    width: 100%;
    animation: fead 1s ease-in-out;
    background-color: red !important;
}

@keyframes fead {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

#scroll_top{
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f9f7c9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
    z-index: 6666;
}

/* ========================================== home section CSS ================================= */

.home-text p{
    letter-spacing: 2px;
}

.first_btn .hire_btn{
    color: var(--black-color);
    background-color: #00aeff;
    border: 2px solid #00aeff;
    transition: 0.5s;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 25px;

}
.first_btn .hire_btn:hover{
    background-color: transparent;
    border: 2px solid #00aeff;
    color: #FFF;
}
.first_btn .work_btn{
    background-color: transparent;
    border: 2px solid #00aeff;
    color: #00aeff;
    padding: 10px 25px;
    border: 2px solid #00aeff;
    transition: 0.5s;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}
.first_btn .work_btn:hover{
    color: #FFF;
    background-color:#00aeff;
    border: 2px solid #00aeff;
}
.social_info{
    margin-top: 60px;
}
.last_icon a{
    width: 61px;
    height: 61px;
    line-height: 57px;
    font-size: 18px;
    color: var(--text-color);
    margin-right: 15px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 6px;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
}
.last_icon a:hover{
    color: #00aeff;
}
.home_image img {
    /* width: 100%; */
    width: 400px;
    height: 515px;
    border-radius: 10px;
    object-fit: cover;
    background-size: cover;
}


/* ========================================== about section CSS ================================= */
.about_image img {
    /* width: 100%; */
    width: 400px;
    height: 515px;
    border-radius: 10px;
    object-fit: cover;
    background-size: cover;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.personl_detail{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.cv_btn{
    width: 200px;
    padding: 15px 54px;
    display: block;
    color: #000;
    background-color: #00aeff;
    border: 2px solid #00aeff;
    transition: 0.5s;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}
.cv_btn:hover{
    background-color: transparent!important;
    border: 2px solid #00aeff;
    color: #FFF;
}

/* ========================================== resume section CSS ================================= */
.resume_box{
    padding: 30px;
    border-radius: 5px;
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.resume_box h6{
    line-height: 1.8;
}


/* ========================================== services section CSS ================================= */
.cart{
    text-align: center;
    width: 100%;
    height: 200px;
    padding: 32px;
    display: block;
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: 0.3s;
}
.cart p::after{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: #ffbd39;
    margin: 0 auto;
}
.cart:hover{
    background-color: var(--yellow-button-color);
}
.cart:hover span i{
    color: var(--text-color);
}
.cart:hover p{
    color: var(--black-color)!important;
}
.cart:hover p::after{
    background-color: var(--black-color)!important;
}


/* ========================================== skills section CSS ================================= */
.pogress{
    height: 10px;
    background: #212428;
    box-shadow: inset 8px 8px 16px rgb(0 0 0 / 46%), inset -8px -8px 16px rgb(56 62 69 / 46%);
}
.move_pogress{
    background-color: var(--yellow-button-color);
    width: 80%;
    height: 9px;
    position: relative;
    border-radius: 30px;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: move_pogress;
    /* position: absolute; */
}
@keyframes move_pogress {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width:80%;
    }
}
.move_pogress span{
    color: var(--text-color);
    font-size: 20px;
    position: absolute;
    top: -38px;
    right: 0;
}   
.move_pogress1{
    width: 75%;
    animation-duration: 2.4s;
    animation-delay: 2s;
    animation-name: move_pogress1;
}
@keyframes move_pogress1 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 75%;
    }
}
.move_pogress2{
    width: 70%;
    animation-duration: 2.6s;
    animation-delay: 2s;
    animation-name: move_pogress2;
}
@keyframes move_pogress2 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 70%;
    }
}
.move_pogress3{
    width: 88%;
    animation-duration: 2.8s;
    animation-delay: 2s;
    animation-name: move_pogress3;
}
@keyframes move_pogress3 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 88%;
    }
}

.move_pogress4{
    width: 89%;
    animation-duration: 2.8s;
    animation-delay: 2s;
    animation-name: move_pogress4;
}
@keyframes move_pogress4 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 89%;
    }
}
.move_pogress5{
    width: 85%;
    animation-duration: 2.8s;
    animation-delay: 2s;
    animation-name: move_pogress5;
}
@keyframes move_pogress5 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 85%;
    }
}
.move_pogress6{
    width: 72%;
    animation-duration: 2.8s;
    animation-delay: 2s;
    animation-name: move_pogress6;
}
@keyframes move_pogress6 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 72%;
    }
}
.move_pogress7{
    width: 80%;
    animation-duration: 2.8s;
    animation-delay: 2s;
    animation-name: move_pogress7;
}
@keyframes move_pogress7 {
    0% {
        opacity: 0;
        width: 0;
        /* transform: translate3d(-100%, 0, 0); */
    }
    100% {
        opacity: 1;
        transform: none;
        width: 80%;
    }
}
/*--------------------sec-1 Start-----------------*/

.sec-1{
    background-color: #212428 ;
    padding: 60px 0px;
    margin-top: 80px;
}

.Trustedby{
    text-align: center;
}
.Trustedby p{
    color: var(--grey--);
    font-size: 16px;
}
.itechs-1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.itechs-1 span{
  color: var(--blue--);
}
.box-1{
    background-color:#212428;
    padding: 40px 20px;
    border-radius: 30px 30px 30px 0px;
    text-align: center;
    height: 330px;
    transition: 1s;
}
.box-1:hover .box-1-1 div img{
    filter: drop-shadow(0px 25px 20px #07397235);
    transition: 1s;
}
.box-1 .box-1-1 div img{
    filter: drop-shadow(0px 25px 20px #07397235);
    transition: 1s;
}
.box-1.box-1-1 div img{
    transition: 1s;
}
.box-1:hover{
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;
    transition: 1s;
}
.sharch-icon{
    font-size: calc(1.525rem + 3.3vw);
    color: var(--white--);
}
.store{
    font-weight: 700;
    margin-top: 25px;
    color: var(--white--);
}
.ideal p{
 color: var(--white--);
 margin-top: 30px;
}
.box-1:hover:before{
    background:#00aeff;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 29px;
    transition:all 1s;
    color: var(--black--);
}
.box-1:hover .store{
color: var(--black--);
transition:all 1s ;
}
.box-1:hover .ideal p{
    color: var(--black--);
    transition:all 1s ;
}
.box-1 .ideal p{
    transition:all 1s ;
}
.box-1 .store{
    transition:all 1s ;
}
.box-1::before{
    content:'';
    position: absolute;
    background:#00aeff;
    right: -55px;
    top: -55px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    transition: 1s;
    z-index: 1;
}
.box-1-1{
    position: absolute;
    z-index: 4;
    padding: 0px 15px;
    left: 0;
}
.main-box{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
}
.box-1-sedow{
    transition: 1s;
    margin-top: 30px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 50px 50px 50px 50px;
}

/*--------------------sec-2 Start-----------------*/

/* ========================================== contact section CSS ================================= */
.contact_left{
    padding: 30px;
    background-color: #212428;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    height: 100%;
}
.contact_info a:hover{
    color: var(--yellow-button-color)!important;
    transition: 0.5s;
}

.right_form_area{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.form_row{
    gap: 30px;
    margin-bottom: 16px;
}
label{
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--p-teg-color);
}

.form_left,.form_right{
    width: 50%;
}
.form-control1{
    width: 100%;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    border-radius: 4px;
    border: 2px solid #191b1e;
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    height: 48px;margin-bottom: 20px;
}
.form-control1:focus{
    outline: 1px solid var(--yellow-button-color);
}
.form-control2{
    width: 100%;
    height: auto;
    background-color: #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    border-radius: 4px;
    border: 2px solid #191b1e;
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
    font-size: 16px;
}
.form-control2:focus{
    outline: 1px solid var(--yellow-button-color);
}
.form_row .btn1{
    cursor: pointer;
    background-color: #00aeff;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #00aeff;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.form_row .btn1:hover{
    background-color: transparent;
    border: 2px solid #00aeff;
    color: #fff;
}
/* ========================================== project section CSS ================================= */

.heding_text h1{
    font-size: 7vw;
    left: 50%;
    transform: translatex(-50%);
    z-index: -1;
    color: rgba(255, 255, 255, 0.075);
    font-weight: 900;
}
.poster{
    padding: 30px;
    border-radius: 10px;
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    /* cursor: pointer; */
    /* border: 1px solid var(--yellow-button-color); */
}
.poster_image{
    width: 100%;
    position: relative;
}
.poster_image img{
    transition: 0.5s;
}
.poster:hover .poster_image img{
    transform: scale(1.1);
}
.layer1{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.poster:hover .poster_image .layer1{
    opacity: 1;
}
.view_btn{
    padding: 8px 15px;
    display: block;
    color: var(--black-color);
    background-color: var(--yellow-button-color);
    border: 2px solid var(--yellow-button-color);
    transition: 0.5s;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}
.view_btn:hover{
    background-color: transparent!important;
    border: 2px solid var(--yellow-button-color);
    color: var(--yellow-button-color);
}

/* ========================================== footer section CSS ================================= */
